<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GraphList</servlet-name>
        <servlet-class>org.rati.web.GraphList</servlet-class>
        <init-param>
            <param-name>path</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GraphDraw</servlet-name>
        <servlet-class>org.rati.web.GraphDraw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log4jInit</servlet-name>
        <servlet-class>org.rati.web.Log4jInit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphList</servlet-name>
        <url-pattern>/GraphList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphDraw</servlet-name>
        <url-pattern>/GraphDraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log4jInit</servlet-name>
        <url-pattern>/Log4jInit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
